extends layouts/main 

block content 
  .login
    .login__header
      h1
        i.fas.fa-sign-in-alt.login__header-icon
        span.login__header-text ログイン
    .login__main 
      .login__social.social-login
        .social-login__header 
          span 外部サービスでログイン
        .social-login__btn.social-login__btn--facebook
          i.fab.fa-facebook.social-login__btn-icon
          span.social-login__desc.social-login__desc--facebook Facebookでログイン
        .social-login__btn.social-login__btn--twitter
          i.fab.fa-twitter.social-login__btn-icon
          span.social-login__desc.social-login__desc--twitter Twitterでログイン
        a.social-login__btn.social-login__btn--google(href=routes.googleLogin)
          img.social-login__btn-icon(src="/static/images/logo-icon-google.svg")
          span.social-login__desc.social-login__desc--google Googleでログイン
        .social-login__footer 
          span ログイン以外の目的に使われることはありません。
          span #{siteName}がゲストの同意なしに投稿することはありません。
      .login__email.email-login
        .email-login__header
          span メールアドレスでログイン
        form.email-login__form(action=routes.login, method="post")
          input.email-login__input.email-login__email(type="email", name="email", placeholder="メールアドレス", required=true)
          input.email-login__input.email-login__password(type="password", name="password", placeholder="パスワード", required=true, minlength=8)
          .email-login__logged-on
            input.email-login__logged-on-checkbox#email-login__logged-on-checkbox(type="checkbox", name="loggedOn")
            label.email-login__logged-on-text(for="email-login__logged-on-checkbox") ログインしたままにする
          button.email-login__submit(type="submit") ログイン
        a.email-login__forgot(href="asd")
          span パスワードを忘れた方はこちら
    a.login__footer(href=routes.join)
      span まだアカウントをお持ちではない方は
      span.login__footer-link こちら
      i.fas.fa-chevron-right.login__footer-icon
