header.header 
  .header__column
    .header__menu 
      i.fas.fa-bars.header__menu-icon
    .header__logo
      a.header__logo-link(href=routes.home) 
        i.fab.fa-youtube.header__logo-icon
        span.header__logo-text MeTube
        span.header__logo-country-code JP
  .header__column.header__column-search
    form.header__form#header__form(action=routes.search, method="get") 
      input.header__search(type="text", name="search_query", placeholder="検索")
      button.header__submit(type="submit")
        i.fas.fa-search
  .header__column.header__column-login
    if !loggedUser
      a.header__beginner(href=routes.login)
        img.header__beginner-icon(src="/static/images/beginner.svg")
        span.header__beginner-text 初めての方へ
      a.header__login(href=routes.login)
        i.fas.fa-sign-in-alt.header__login-icon
        span.header__login-text ログイン
      a.header__join(href=routes.join)
        i.fas.fa-user-plus.header__join-icon
        span.header__join-text 新規登録
    else
      li 
        a(href=`${routes.videos}${routes.videoUpload}`) Upload
      li 
        a(href=routes.userDetail(loggedUser.id)) Profile
      img.header__avatar(src=loggedUser.avatarUrl)
      .user-menu.user-menu--hide
        .user-menu__profile
          img.user-menu__avatar(src=loggedUser.avatarUrl)
          .user-menu__names
            span.user-menu__name=`${loggedUser.lastName ? loggedUser.lastName : ''} ${loggedUser.firstName ? loggedUser.firstName : ''}`
            span.user-menu__email=loggedUser.email
        .user-menu__controls
          .user-menu__item
            img.user-menu__icon--image(src="/static/images/beginner.svg")
            span.user-menu__text 初めての方へ
          .user-menu__item
            i.fas.fa-cog.user-menu__icon
            span.user-menu__text 設定
          a.user-menu__item(href=routes.logout)
            i.fas.fa-sign-out-alt.user-menu__icon
            span.user-menu__text ログアウト

